<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NFT Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta content="Themesdesign" name="author">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="frontend/static/css/bootstrap.min.css" type="text/css" id="bootstrap-style">


    <!-- Material Icon Css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

    <!-- Unicon Css -->
    <link rel="stylesheet" href="frontend/static/css/line.css">

    <!-- Swiper Css -->
    <link rel="stylesheet" href="frontend/static/css/tiny-slider.css" type="text/css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="frontend/static/css/style.min.css" type="text/css">

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71">

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand logo f-30 text-dark fw-bold" href="">
            <img src="frontend/static/picture/logo-dark.png" class="logo-dark" alt="" height="40">
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a href="/" class="nav-link">主页</a>
                </li>

                <li class="nav-item">
                    <a href="index-2.html" class="nav-link">市场</a>
                </li>

                <li class="nav-item">
                    <a href="ranking.html" class="nav-link">排名</a>
                </li>
                <li class="nav-item">
                    <a href="register.html" class="nav-link">注册</a>
                </li>

                <!--end dropdown-->

                <li class="nav-item">
                    <a href="swap.html" class="nav-link">交换</a>
                </li>
                <!--end dropdown-->
                <li class="nav-item">
                    <a href="homepage.html" class="nav-link">个人主页</a>
                </li>
                <!--end dropdown-->
            </ul>
            <!--end navbar-nav-->
            {{ if .isLogin }}
            <ul class="nav nav-tabs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src={{.img}} class="rounded-circle" width="32px" height="32px" alt="User Image">
                </a>
                <li class="nav-item dropdown">
                    <p class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#">{{
                        .username}}</p>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item logout" href="javascript:void(0)">退出登录</a></li>
                    </ul>
                </li>
            </ul>
            {{ else }}
            <a href="login.html" class="btn btn-primary">登录</a>
            {{ end }}
        </div>

    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->


<!-- start home -->
<section class="home-2 overflow-hidden"
         style="background-image: url(frontend/static/image/bg-2.png); background-repeat: no-repeat;" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home-content-2 home-heading text-start">
                    <h1 class="fw-bold"><span class="text-primary"></span></h1>
                    <form class="search-form">
                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control position-relative name" id="inputPassword"
                                       placeholder="在这里搜索 ...">
                                <div class="search-icon">
                                    <i class="mdi mdi-magnify f-22 search"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="count-detail">
                        <div class="row mt-4">
                            <div class="col-lg-4 col-6">
                                <div class="counter-box">
                                    <div class="d-flex align-items-center justify-content-start">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="counter-box">
                                    <div class="d-flex align-items-center justify-content-start">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="counter-box">
                                    <div class="d-flex align-items-center justify-content-start">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="fw-bold"> 最新铸造</h1>
                <div class="clientslider-2 mt-5 position-relative" id="clientslider-2">

                    {{range $i,$v := .token}}
                    <div class="item">
                        <div class="card">
                            <div class="header d-flex">
                                <div class="dropdown menu">
                                    <i class="mdi mdi-dots-vertical f-20" id="dropdownMenuButton1"
                                       data-bs-toggle="dropdown"></i>
                                </div>
                                <div class="ms-auto">
                                    <div class="badge rounded-pill">{{$v.Type_}}</div>
                                </div>
                            </div>
                            <div class="card-image mt-3" style="height: 160px;width: 160px">
                                <a href="/item-details.html/{{ silice $v.Cid }}">
                                    <img src="{{$v.Cid}}" alt="" class="img-fluid" style="height: 160px;width: 160px">
                                </a>
                            </div>
                            <div class="card-body">
                                <div>
                                    <h9 class="fw-bold mb-0" style="float: left">{{$v.Name}}</h9>
                                </div>
                                <br>
                                <div>
                                    <span class="f-14 text-orange" style="float: left">{{$v.Balance}} Frog</span>
                                </div>
                                <br>
                                <div class="profile-content align-items-center d-flex justify-content-start">
                                    <div class="avatar-sm">
                                        <a href="/homepage.html?username={{index $.name $i}}">
                                        <img src="{{index $.pic $i}}"
                                             alt="" class="img-fluid avatar-sm">
                                        </a>
                                    </div>
                                    <div class="profile-name">
                                        <a href="/homepage.html?username={{index $.name $i}}">
                                        <h6 class="fw-bold mb-0 ms-2 f-14">{{index $.name $i}}</h6>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <!-- End slider -->
            </div>
        </div>

    </div>
</section>
<!-- end home -->


<!-- start explore -->
<section class="explore section bg-light px-4" id="explore">
    <!-- start container -->
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-12 p-0">
                <nav class="mt-5">
                    <div class="heading float-start mt-3">
                        <h2 class="fw-bold">探索</h2>
                    </div>

                    <div class="nav nav-tabs align-items-center justify-content-center row" id="nav-tab"
                         role="tablist">
                        <button class="nav-link active text-uppercase col-md-2" id="nav-all-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab"
                                aria-controls="nav-all" aria-selected="true"><span class="icon"><i
                                class="mdi mdi-plus f-24 align-middle"></i> 影视动漫
                                </span></button>

                        <button class="nav-link text-uppercase col-md-2" id="nav-games-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-games" type="button" role="tab" aria-controls="nav-games"
                                aria-selected="true"><span class="icon"> <i
                                class="mdi mdi-gamepad-variant f-24 align-middle"></i> 人文艺术
                                </span></button>

                        <button class="nav-link text-uppercase col-md-2" id="nav-art-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-art" type="button" role="tab" aria-controls="nav-art"
                                aria-selected="true"><span class="icon"><i class="mdi mdi-brush f-24 align-middle"></i>
                                    自然百态
                                </span></button>

                        <button class="nav-link text-uppercase col-md-2" id="nav-memes-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-memes" type="button" role="tab" aria-controls="nav-memes"
                                aria-selected="true"><span class="icon"><i class="mdi mdi-panda f-24 align-middle"></i>
                                    万物生灵
                                </span></button>

                        <button class="nav-link text-uppercase col-md-2" id="nav-Collection-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-Collection" type="button" role="tab"
                                aria-controls="nav-Collection" aria-selected="true"><span class="icon"><i
                                class="mdi mdi-collage f-24 align-middle"></i> 其他
                                </span></button>
                    </div>
                </nav>
            </div>
            <div class="tab-content mt-5 pt-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                    <div class="row">
                        {{range $i,$v := .tokens}}


                        <div class="col-lg-3 mt-4">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <a href="/homepage.html?username={{name $.users $i}}">
                                        <img src={{img $.users $i}}
                                             alt="" class="img-fluid rounded-circle">
                                            </a>
                                    </div>
                                    <a href="/homepage.html?username={{name $.users $i}}">
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14">{{name $.users $i}}</h6>
                                    </a>
                                </div>
                                <div class="card-image mt-3">
                                    <img src="{{$v.Cid}}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold">{{$v.Name}}</h6>
                                    <div class="d-flex">

                                        <p class="ms-auto text-muted">价格 : <span class="text-success">{{$v.Balance}}
                                                    frog</span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history">

                                        </div>
                                        <div class="bid-button ms-auto">
                                            <a href="/item-details.html/{{ silice $v.Cid }}">
                                                <button class="btn btn-sm btn-primary rounded-pill">出价</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        {{end}}
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-games" role="tabpanel" aria-labelledby="nav-games-tab">
                    <div class="row">
                        {{range $i,$v := .token1}}


                        <div class="col-lg-3 mt-4">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <a href="/homepage.html?username={{name $.user1 $i}}">
                                        <img src={{img $.user1 $i}}
                                             alt="" class="img-fluid rounded-circle">
                                        </a>
                                    </div>
                                    <a href="/homepage.html?username={{name $.user1 $i}}">
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14">{{name $.user1 $i}}</h6>
                                    </a>
                                </div>
                                <div class="card-image mt-3">
                                    <img src="{{$v.Cid}}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold">{{$v.Name}}</h6>
                                    <div class="d-flex">

                                        <p class="ms-auto text-muted">价格 : <span class="text-success">{{$v.Balance}}
                                                    frog</span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history">

                                        </div>
                                        <div class="bid-button ms-auto">
                                            <a href="/item-details.html/{{ silice $v.Cid }}">
                                                <button class="btn btn-sm btn-primary rounded-pill">出价</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        {{end}}




                    </div>
                </div>

                <div class="tab-pane fade" id="nav-art" role="tabpanel" aria-labelledby="nav-art-tab">
                    <div class="row">

                        {{range $i,$v := .token2}}


                        <div class="col-lg-3 mt-4">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <a href="/homepage.html?username={{name $.user2 $i}}">
                                        <img src={{img $.user2 $i}}
                                             alt="" class="img-fluid rounded-circle">
                                        </a>
                                    </div>
                                    <a href="/homepage.html?username={{name $.user2 $i}}">
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14">{{name $.user2 $i}}</h6>
                                    </a>
                                </div>
                                <div class="card-image mt-3">
                                    <img src="{{$v.Cid}}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold">{{$v.Name}}</h6>
                                    <div class="d-flex">

                                        <p class="ms-auto text-muted">价格 : <span class="text-success">{{$v.Balance}}
                                                    frog</span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history">

                                        </div>
                                        <div class="bid-button ms-auto">
                                            <a href="/item-details.html/{{ silice $v.Cid }}">
                                                <button class="btn btn-sm btn-primary rounded-pill">出价</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        {{end}}

                    </div>
                </div>

                <div class="tab-pane fade" id="nav-memes" role="tabpanel" aria-labelledby="nav-memes-tab">
                    <div class="row">
                        {{range $i,$v := .token3}}


                        <div class="col-lg-3 mt-4">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <a href="/homepage.html?username={{name $.user3 $i}}">
                                        <img src={{img $.user3 $i}}
                                             alt="" class="img-fluid rounded-circle">
                                        </a>
                                    </div>
                                    <a href="/homepage.html?username={{name $.user3 $i}}">
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14">{{name $.user3 $i}}</h6>
                                    </a>
                                </div>
                                <div class="card-image mt-3">
                                    <img src="{{$v.Cid}}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold">{{$v.Name}}</h6>
                                    <div class="d-flex">

                                        <p class="ms-auto text-muted">价格 : <span class="text-success">{{$v.Balance}}
                                                    frog</span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history">

                                        </div>
                                        <div class="bid-button ms-auto">
                                            <a href="/item-details.html/{{ silice $v.Cid }}">
                                                <button class="btn btn-sm btn-primary rounded-pill">出价</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        {{end}}

                    </div>
                </div>

                <div class="tab-pane fade" id="nav-Collection" role="tabpanel" aria-labelledby="nav-Collection-tab">
                    <div class="row">
                        {{range $i,$v := .token4}}


                        <div class="col-lg-3 mt-4">
                            <div class="tab-content p-4 border-0">
                                <div class="header d-flex align-items-center justify-content-start">
                                    <div class="avatar-xs">
                                        <a href="/homepage.html?username={{name $.user4 $i}}">
                                        <img src={{img $.user4 $i}}
                                             alt="" class="img-fluid rounded-circle">
                                        </a>
                                    </div>
                                    <a href="/homepage.html?username={{name $.user4 $i}}">
                                    <h6 class="mb-0 ms-2 fw-semibold text-muted f-14">{{name $.user4 $i}}</h6>
                                    </a>
                                </div>
                                <div class="card-image mt-3">
                                    <img src="{{$v.Cid}}" alt="" class="img-fluid">
                                </div>
                                <div class="body-content mt-3">
                                    <h6 class="fw-bold">{{$v.Name}}</h6>
                                    <div class="d-flex">

                                        <p class="ms-auto text-muted">价格 : <span class="text-success">{{$v.Balance}}
                                                    frog</span></p>
                                    </div>
                                    <hr>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="history">

                                        </div>
                                        <div class="bid-button ms-auto">
                                            <a href="/item-details.html/{{ silice $v.Cid }}">
                                                <button class="btn btn-sm btn-primary rounded-pill">出价</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        {{end}}


                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- end container -->
</section>
<!-- end explore -->


<!-- start blog -->

<!-- end blog -->


<!-- start footer -->
<section class="footer">
    <div class="container">
        <hr>

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="my-4 text-muted">&copy; 2022.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end footer -->


<!--Bootstrap Js-->
<script src="frontend/static/js/bootstrap.bundle.min.js"></script>

<!-- Swiper Js -->
<script src="frontend/static/js/tiny-slider.js"></script>

<!-- counter -->
<script src="frontend/static/js/counter.init.js"></script>

<!-- App Js -->
<script src="frontend/static/js/app.js"></script>

<script>
    var slider = tns({
        container: '.clientslider-2',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: false,
        navPosition: "bottom",
        nav: false,
        autoplayTimeout: 4000,
        speed: 900,
        gutter: 50,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        responsive: {

            992: {
                gutter: 50,
                items: 4
            },

        }
    });
</script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.logout').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/logout',
                type: 'post',
                data: {},
                success: function (data) {

                    alert('退出成功');
                    window.location.href = "/";

                }
            });
        });
    });
    $(function (){
        $('.search').click(function (e){
            e.preventDefault()
            var names = encodeURI($('.name').val())
            var name = decodeURI(names)
            $.ajax({
                url: "/search"+"/"+name,
                type: "get",
                success :function (data){
                    if (data.err == "nil"){
                        alert("暂无数据")
                        location.reload()
                    }else {
                        window.location.href= "/search"+"/"+name
                    }
                }
            })
        })
    })
</script>
</body>

</html>