<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NFT Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta content="Themesdesign" name="author">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="frontend/static/css/bootstrap.min.css" type="text/css" id="bootstrap-style">

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <!-- Unicon Css -->
    <link rel="stylesheet" href="frontend/static/css/line.css">

    <!-- Swiper Css -->
    <link rel="stylesheet" href="frontend/static/css/tiny-slider.css" type="text/css">
    <link rel="stylesheet" href="frontend/static/css/swiper.min.css" type="text/css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="frontend/static/css/style.min.css" type="text/css">


</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <a class="navbar-brand logo f-30 text-dark fw-bold" href="">
            <img src="frontend/static/picture/logo-dark.png" class="logo-dark" alt="" height="40">
        </a>
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a href="/" class="nav-link">主页</a>
                </li>

                <li class="nav-item">
                    <a href="index-2.html" class="nav-link">市场</a>
                </li>

                <li class="nav-item">
                    <a href="ranking.html" class="nav-link">排名</a>
                </li>
                <li class="nav-item">
                    <a href="register.html" class="nav-link">注册</a>
                </li>

                <!--end dropdown-->

                <li class="nav-item">
                    <a href="swap.html" class="nav-link">交换</a>
                </li>
                <!--end dropdown-->
                <li class="nav-item">
                    <a href="homepage.html" class="nav-link">个人主页</a>
                </li>
                <!--end dropdown-->
            </ul>
            <!--end navbar-nav-->
            {{ if .isLogin }}
            <ul class="nav nav-tabs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src={{.img}} class="rounded-circle" width="32px" height="32px" alt="User Image">
                </a>
                <li class="nav-item dropdown">
                    <p class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#">{{
                        .username}}</p>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item logout"  href="javascript:void(0)">退出登录</a></li>
                    </ul>
                </li>
            </ul>
            {{ else }}
            <a href="login.html" class="btn btn-primary">登录</a>
            {{ end }}
        </div>
    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->


<!-- start home -->
<section class="home bg-image" id="home">
    <!-- start container -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="home-content home-heading">
                    <h1 class="fw-bold display-5">让你的资产<span class="text-primary"> <br>自由 </span>
                        流通</h1>
                    <p class="text-muted my-4"> 跳跳蛙 是一个全新的数字资产交易平台,在这里发掘数字资产的趣味与价值!.</p>

                </div>

            </div>

            <div class="col-lg-6">
                <div class="client-slider" id="clients-slider">
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="http://175.178.215.53:8080/ipfs/QmQqc788ef6LGEhy3ThiH6XwnyVPzAr37EwESBH6xox5LR" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">燃烧 & 融化</p>
                                <h5 class="fw-bold">{{.balance1}} frog</h5>

                                <div class="d-flex">
                                    <a href="/homepage.html?username={{.user2.Name}}">
                                    <div class="slider-content-image d-flex mt-3">
                                        <div class="avatar-sm">
                                            <img src="{{.user1.Picture}}" alt="" class="img-fluid">
                                        </div>
                                        <p class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#">{{.user1.Name}}</p>

                                    </div>
                                </a>
                                    <div class="slider-content-button">
                                        <a href="/item-details.html/QmQqc788ef6LGEhy3ThiH6XwnyVPzAr37EwESBH6xox5LR">
                                            <button class="btn btn-dark pe-5">出价</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- slider item -->

                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="http://175.178.215.53:8080/ipfs/QmSp4UEmrayPq6QwQSZvjfEK3WGXMRdE3T4x6b3Y4AEAKA" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">数字</p>
                                <h5 class="fw-bold ">{{.balance2}} frog</h5>

                                <div class="d-flex">
                                    <a href="/homepage.html?username={{.user2.Name}}">
                                    <div class=" slider-content-image d-flex mt-3">
                                        <div class="avatar-sm">
                                            <img src="{{.user2.Picture}}" alt="" class="img-fluid">
                                        </div>
                                        <p class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#">{{.user2.Name}}</p>
                                    </div>
                                </a>
                                    <div class="slider-content-button">
                                        <a href="/item-details.html/QmSp4UEmrayPq6QwQSZvjfEK3WGXMRdE3T4x6b3Y4AEAKA">
                                            <button class="btn btn-dark pe-5">出价</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- slider item -->

                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="http://175.178.215.53:8080/ipfs/QmSojrC5nzYY5uLj9NbP5kDcs1GP9wMdmn9usbW65NQk8q" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">藏品</p>
                                <h5 class="fw-bold">{{.balance3}} frog</h5>

                                <div class="d-flex">
                                    <a href="/homepage.html?username={{.user3.Name}}">
                                        <div class=" slider-content-image d-flex mt-3">
                                            <div class="avatar-sm">
                                                <img src="{{.user3.Picture}}" alt="" class="img-fluid">
                                            </div>

                                            <p class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#">{{.user3.Name}}</p>

                                        </div>
                                    </a>
                                        <div class="slider-content-button">
                                            <a href="/item-details.html/QmSojrC5nzYY5uLj9NbP5kDcs1GP9wMdmn9usbW65NQk8q">
                                                <button class="btn btn-dark pe-5">出价</button>
                                            </a>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>

        </div>
    </div>
    <!-- end container -->
</section>
<!-- end home -->
<!-- start home -->

<!-- end home -->


<!-- start blog -->
<section class="blog section bg-light">
    <!-- start container -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <div class="title-content text-center text-md-start">
                    <h2 class="fw-bold">探索最好的 NFT</h2>
                    <p class="text-muted">开启数字艺术和音乐的非凡时代 </p>
                </div>
            </div>
            <div class="col-md-6 col-12">

            </div>
        </div>


        <div class="row mt-5">
            {{range $i,$v := .img5}}
            <div class="col-lg-3 col-md-6">
                <div class="card border-0">
                    <div class="blog-image">
                        <a href=/item-details.html/{{silice $v.Cid}}>
                            <img src={{$v.Cid}} alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="card-body ">
                        <div class="d-flex">

                                <h6 class="fw-bold mb-0">{{$v.Name}}</h6>

                            <p class="text-success ms-auto fw-bold mb-0">{{$v.Balance}} frog</p>
                        </div>
                        <a href="/homepage.html?username={{name $.user5 $i}}">
                        <p class="text-muted">{{name $.user5 $i}}</p>
                        </a>
                        <div class="d-flex align-items-baseline">
                            <div class="slider-content-image d-flex">
                                <div>收藏数</div>

                            </div>

                            <div class="blog-profile-content ms-auto">
                                <span class="align-middle fw-bold text-muted">{{index $.count $i}} 次</span>
                            </div>
                        </div>
                        <div class="blog-footer mt-4">
                            <div class="bid-content d-flex">
                                <h6 class="mb-0">最小竞价: <span class="fw-bold"> {{index $.min $i}} frog</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{{end}}
        </div>



    </div>
    <!-- end container -->
</section>
<!-- end blog -->



<!-- end testi -->


<!-- start footer -->
<section class="footer">
    <div class="container">
        <hr>

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="my-4 text-muted">&copy; 2022.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end footer -->


<!--Bootstrap Js-->
<script src="frontend/static/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- Slider Js -->
<script src="frontend/static/js/tiny-slider.js"></script>
<script src="frontend/static/js/swiper.min.js"></script>

<!-- counter -->
<script src="frontend/static/js/counter.init.js"></script>

<!-- App Js -->
<script src="frontend/static/js/app.js"></script>


<script>
    var slider = tns({
        container: '.client-slider',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: false,
        navPosition: "bottom",
        nav: true,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 1.5
            },

        }
    });
</script>

<script>
    new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 20,
        pagination: '.swiper-pagination',
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        speed: 1500,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
</script>


<script>
    var slider = tns({
        container: '.testi-slider',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: true,
        navPosition: "bottom",
        nav: false,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 3
            },

        }
    });
</script>

<script type="text/javascript">
    $(function() {
        $('.logout').click(function(event){
            event.preventDefault();
            $.ajax({
                url: '/logout',
                type:'post',
                data:{

                },
                success: function(data){

                        alert('退出成功');
                        window.location.href="/";

                }
            });
        });
    });
</script>
</body>

</html>