<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NFT Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta content="Themesdesign" name="author">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="frontend/static/css/bootstrap.min.css" type="text/css" id="bootstrap-style">
    <!-- Material Icon Css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <!-- Unicon Css -->
    <link rel="stylesheet" href="frontend/static/css/line.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="frontend/static/css/style.min.css" type="text/css">

</head>

<body>


    <!-- start section -->
    <section class="login section position-relative overflow-hidden"
        style="background-image: url(https://themesdesign.in/artlink/layout/images/inner-image/login.png); background-repeat: no-repeat;">
        <!-- start container -->
        <!-- <div class="bg-overlay"></div> -->
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form class="mt-2 inner-heading">
                        <h1 class="fw-bold">欢迎 🖐 来到NFT市场</h1>

                        <p class="text-muted">还没有账户?? <a href="register.html" class="text-blue">注册</a> </p>

                        <div class="info-box">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="email  mt-4">
                                        <label for="validationDefault03" class="form-label fw-semibold"> 邮箱地址
                                            :</label>
                                        <input type="email" class="form-control" id="validationDefault03"
                                            placeholder="请输入你的邮箱" required="">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="password  mt-4">
                                        <label for="validationDefault01" class="form-label fw-semibold">密码
                                            :</label>
                                        <input type="password" class="form-control" id="validationDefault01"
                                            placeholder="请输入你的密码" value="" required="">
                                    </div>
                                </div>


                                <div class="col-12 ">
                                    <div class="d-flex align-items-center mt-4">
                                        <div class="verify">
                                            <button type="button" class="btn border btn-light text-dark shadow-sm"
                                                id="liveToastBtn"> 点击验证 </button>
                                        </div>
                                        <div class="other ms-auto">
                                            <div class="mb-0 text-muted fw-semibold">登录于: <a href=""
                                                    class="text-dark ms-2">谷歌</a> <a href=""
                                                    class="text-dark ms-4">脸书</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="submit-button mt-4">
                                <button class="btn btn-primary w-100" type="submit">提交</button>
                            </div>
                        </div>

                        <div class="position-fixed start-0 bottom-50 p-3" style="z-index: 999">
                            <div id="liveToast" class="toast position-relative" role="alert" aria-live="assertive"
                                aria-atomic="true">
                                <div class="toast-header">

                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-check-circle text-success f-30"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            <strong> 您的帐户已验证 </strong>

                                        </div>
                                    </div>
                                </div>
                                <div class="toast-body">
                                    登录到您的帐户!
                                </div>
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 95%;"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- end container -->
    </section>


    <!--Bootstrap Js-->
    <script src="frontend/static/js/bootstrap.bundle.min.js"></script>

    <script src="frontend/static/js/bootstrap-toasts.init.js"></script>

    <!-- App Js -->
    <script src="frontend/static/js/app.js"></script>


</body>

</html>