<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NFT Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta content="Themesdesign" name="author">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="frontend/static/css/bootstrap.min.css" type="text/css" id="bootstrap-style">


    <!-- Material Icon Css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

    <!-- Unicon Css -->
    <link rel="stylesheet" href="frontend/static/css/line.css">

    <!-- Swiper Css -->
    <link rel="stylesheet" href="frontend/static/css/tiny-slider.css" type="text/css">
    <link rel="stylesheet" href="frontend/static/css/swiper.min.css" type="text/css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="frontend/static/css/style.min.css" type="text/css">

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand logo f-30 text-dark fw-bold" href="">
                <img src="frontend/static/picture/logo-dark.png" class="logo-dark" alt="" height="40">
            </a>
            <div>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link">主页</a>
                    </li>

                    <li class="nav-item">
                        <a href="index-2.html" class="nav-link">市场</a>
                    </li>

                    <li class="nav-item">
                        <a href="collection.html" class="nav-link">藏品</a>
                    </li>

                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="pagedropdown" role="button"
                            data-bs-toggle="dropdown">
                            分类
                        </a>

                        <div class="dropdown-menu dropmenu-width dropdown-menu-center">
                            <div class="row">
                                <ul class="col-lg-6 list-unstyled">

                                    <li><a class="dropdown-item" href="item-details.html"><i
                                                class="mdi mdi-image-filter-frames f-20 me-2 align-middle"></i>商品详情</a>
                                    </li>
                                    <li><a class="dropdown-item" href="login.html"><i
                                                class="mdi mdi-account-outline f-20 me-2 align-middle"></i>登录</a>
                                    </li>
                                </ul>

                                <ul class="col-lg-6 list-unstyled">
                                    <li><a class="dropdown-item" href="ranking.html"><i
                                                class="mdi mdi-numeric-1-box-outline f-20 me-2 align-middle"></i>排名</a>
                                    </li>

                                    <li><a class="dropdown-item" href="register.html"><i
                                                class="mdi mdi-account-box-outline f-20 me-2 align-middle"></i>注册</a>
                                    </li>
                                    <li><a class="dropdown-item" href="404.html"><i
                                                class="mdi mdi-alert-outline f-20 me-2 align-middle"></i>404</a></li>

                                </ul>
                            </div>
                        </div>

                    </li>
                    <!--end dropdown-->

                    <li class="nav-item">
                        <a href="swap.html" class="nav-link">交换</a>
                    </li>
                    <!--end dropdown-->
                    <li class="nav-item">
                        <a href="homepage.html" class="nav-link">个人主页</a>
                    </li>
                </ul>
                <!--end navbar-nav-->
                <a href="wallet.html" class="btn btn-primary">连接钱包</a>
            </div>

        </div>
        <!--end container-->
    </nav>
    <!-- Navbar End -->



    <!-- start section -->
    <section class="ranking section bg-light">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="/" class="text-muted">主页</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">排名</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="inner-heading text-center">
                        <div class="mt-4">
                            <h1 class="fw-bold">NFT 排名</h1>
                            <p class="text-muted">爱是一种幸福</p>
                        </div>
                    </div>

                    <div class="heading-bottom-icon d-flex justify-content-center text-center">
                        <i class="mdi mdi-image-filter-vintage"></i>
                        <i class="mdi mdi-image-filter-vintage mx-2"></i>
                        <i class="mdi mdi-image-filter-vintage"></i>
                    </div>
                </div>
            </div>


            <div class="row align-items-center mt-5">
                <div class="col-lg-12">
                    <ul class="nav nav-pills align-items-center mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active f-20" id="pills-games-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-games" type="button" role="tab" aria-controls="pills-games"
                                aria-selected="true"><i class="mdi mdi-gamepad-variant f-24 align-middle"></i>
                                游戏</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link f-20" id="pills-art-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-art" type="button" role="tab" aria-controls="pills-art"
                                aria-selected="false"><i class="mdi mdi-brush f-24 align-middle"></i> 艺术</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link f-20" id="pills-tranding-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-tranding" type="button" role="tab" aria-controls="pills-tranding"
                                aria-selected="false"><i class="mdi mdi-chart-line f-24 align-middle"></i>
                                趋势</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link f-20" id="pills-music-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-music" type="button" role="tab" aria-controls="pills-music"
                                aria-selected="false"><i class="mdi mdi-music f-24 align-middle"></i> 音乐</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link f-20" id="pills-domain-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-domain" type="button" role="tab" aria-controls="pills-domain"
                                aria-selected="false"><i class="mdi mdi-web f-24 align-middle"></i> 领域</button>
                        </li>
                    </ul>
                    <div class="tab-content mt-5" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-games" role="tabpanel"
                            aria-labelledby="pills-games-tab">
                            <div class="table-responsive">
                                <table class="table table-borderless table-nowrap">
                                    <thead>
                                        <tr class="table-title">
                                            <th scope="col">藏品</th>
                                            <th scope="col">交易次数</th>
                                            <th scope="col">24 时 %</th>
                                            <th scope="col">1 周 %</th>
                                            <th scope="col">拥有者</th>
                                            <th scope="col">点赞数</th>
                                            <th scope="col">底价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-17.png" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">藏品</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1241</td>
                                            <td class="text-success">+1245%</td>
                                            <td class="text-danger">-210%</td>
                                            <td>1.2千</td>
                                            <td>20千</td>
                                            <td>12, 3211 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-25.png" alt=""
                                                                class="avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">作品</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 3214</td>
                                            <td class="text-success">+6212%</td>
                                            <td class="text-danger">-512%</td>
                                            <td>1.4千</td>
                                            <td>51千</td>
                                            <td>21, 4512 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-36.png" alt=""
                                                                class="avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">女孩</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>45, 5245</td>
                                            <td class="text-success">+3841%</td>
                                            <td class="text-danger">-230%</td>
                                            <td>3.2千</td>
                                            <td>26千</td>
                                            <td>29, 6911 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-45.png" alt=""
                                                                class="avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">隐藏</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1285</td>
                                            <td class="text-success">+6854%</td>
                                            <td class="text-danger">-320%</td>
                                            <td>2.5千 </td>
                                            <td>50千</td>
                                            <td>32, 5387 以太币</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-art" role="tabpanel" aria-labelledby="pills-art-tab">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="table-title">
                                            <th scope="col">藏品</th>
                                            <th scope="col">销量</th>
                                            <th scope="col">24 时 %</th>
                                            <th scope="col">1 周 %</th>
                                            <th scope="col">拥有者</th>
                                            <th scope="col">雇员</th>
                                            <th scope="col">底价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="https://themesdesign.in/artlink/layout/images/inner-image/ranking/img-5.png"
                                                                alt="" class="avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">创作</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1241</td>
                                            <td class="text-success">+1245%</td>
                                            <td class="text-danger">-210%</td>
                                            <td>1.2千</td>
                                            <td>20千</td>
                                            <td>12, 3211 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="https://themesdesign.in/artlink/layout/images/inner-image/ranking/img-6.png"
                                                                alt="" class="avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">作品</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 3214</td>
                                            <td class="text-success">+6212%</td>
                                            <td class="text-danger">-512%</td>
                                            <td>1.4千</td>
                                            <td>51千</td>
                                            <td>21, 4512 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-75.png" alt=""
                                                                class="avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">女孩</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>45, 5245</td>
                                            <td class="text-success">+3841%</td>
                                            <td class="text-danger">-230%</td>
                                            <td>3.2千</td>
                                            <td>262千</td>
                                            <td>29, 6911 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-83.png" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">隐藏</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1285</td>
                                            <td class="text-success">+6854%</td>
                                            <td class="text-danger">-320%</td>
                                            <td>2.5千</td>
                                            <td>50千</td>
                                            <td>32, 5387 以太币</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-tranding" role="tabpanel"
                            aria-labelledby="pills-tranding-tab">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="table-title">
                                            <th scope="col">藏品</th>
                                            <th scope="col">销量</th>
                                            <th scope="col">24 时 %</th>
                                            <th scope="col">1 周 %</th>
                                            <th scope="col">拥有者</th>
                                            <th scope="col">雇员</th>
                                            <th scope="col">底价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-1.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">创作</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1241</td>
                                            <td class="text-success">+1245%</td>
                                            <td class="text-danger">-210%</td>
                                            <td>1.2千</td>
                                            <td>20千</td>
                                            <td>12, 3211 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-21.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">作品</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 3214</td>
                                            <td class="text-success">+6212%</td>
                                            <td class="text-danger">-512%</td>
                                            <td>1.4千</td>
                                            <td>51千</td>
                                            <td>21, 4512 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-3.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">女孩</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>45, 5245</td>
                                            <td class="text-success">+3841%</td>
                                            <td class="text-danger">-230%</td>
                                            <td>3.2千</td>
                                            <td>26千</td>
                                            <td>29, 6911 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-4.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">隐藏</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1285</td>
                                            <td class="text-success">+6854%</td>
                                            <td class="text-danger">-320%</td>
                                            <td>2.5千</td>
                                            <td>50千</td>
                                            <td>32, 5387 以太币</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="table-title">
                                            <th scope="col">藏品</th>
                                            <th scope="col">销量</th>
                                            <th scope="col">24 时 %</th>
                                            <th scope="col">1 周 %</th>
                                            <th scope="col">拥有者</th>
                                            <th scope="col">雇员</th>
                                            <th scope="col">底价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-5.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">创作</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1241</td>
                                            <td class="text-success">+1245%</td>
                                            <td class="text-danger">-210%</td>
                                            <td>1.2千</td>
                                            <td>20千</td>
                                            <td>12, 3211 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-6.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">创作</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 3214</td>
                                            <td class="text-success">+6212%</td>
                                            <td class="text-danger">-512%</td>
                                            <td>1.4千</td>
                                            <td>51千</td>
                                            <td>21, 4512 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-71.jpg" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">女孩</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>45, 5245</td>
                                            <td class="text-success">+3841%</td>
                                            <td class="text-danger">-230%</td>
                                            <td>3.2千</td>
                                            <td>26千</td>
                                            <td>29, 6911 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="https://themesdesign.in/artlink/layout/images/inner-image/user/img-8.jpg"
                                                                alt="" class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">隐藏 </p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1285</td>
                                            <td class="text-success">+6854%</td>
                                            <td class="text-danger">-320%</td>
                                            <td>2.5千</td>
                                            <td>50千</td>
                                            <td>32, 5387 以太币</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="pills-domain" role="tabpanel" aria-labelledby="pills-domain-tab">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="table-title">
                                            <th scope="col">藏品</th>
                                            <th scope="col">销量</th>
                                            <th scope="col">24 时 %</th>
                                            <th scope="col">1 周 %</th>
                                            <th scope="col">拥有者</th>
                                            <th scope="col">雇员</th>
                                            <th scope="col">底价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="https://themesdesign.in/artlink/layout/images/inner-image/ranking/img-5.png"
                                                                alt="" class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">1</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">创作</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1241</td>
                                            <td class="text-success">+1245%</td>
                                            <td class="text-danger">-210%</td>
                                            <td>1.2千</td>
                                            <td>20千</td>
                                            <td>12, 3211 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="https://themesdesign.in/artlink/layout/images/inner-image/ranking/img-6.png"
                                                                alt="" class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">2</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">作品</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 3214</td>
                                            <td class="text-success">+6212%</td>
                                            <td class="text-danger">-512%</td>
                                            <td>1.4千</td>
                                            <td>51千</td>
                                            <td>21, 4512 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-75.png" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">女孩</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>45, 5245</td>
                                            <td class="text-success">+3841%</td>
                                            <td class="text-danger">-230%</td>
                                            <td>3.2千</td>
                                            <td>26千</td>
                                            <td>29, 6911 以太币</td>
                                        </tr>
                                        <tr class="rank-profile">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar position-relative">
                                                            <img src="frontend/static/picture/img-83.png" alt=""
                                                                class=" avatar-lg rounded">

                                                            <span
                                                                class="number position-absolute bottom-0 start-100 translate-middle-x p-2 bg-primary border border-light rounded-circle">4</span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-0 fw-bold">隐藏</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>21, 1285</td>
                                            <td class="text-success">+6854%</td>
                                            <td class="text-danger">-320%</td>
                                            <td>2.5千</td>
                                            <td>50千</td>
                                            <td>32, 5387 以太币</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- end container -->
    </section>


    <!-- start footer -->
    <section class="footer">
        <div class="container">
            <hr>

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p class="my-4 text-muted">&copy; 2022.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end footer -->



    <!--Bootstrap Js-->
    <script src="frontend/static/js/bootstrap.bundle.min.js"></script>

    <!-- Slider Js -->
    <script src="frontend/static/js/tiny-slider.js"></script>
    <script src="frontend/static/js/swiper.min.js"></script>

    <!-- counter -->
    <script src="frontend/static/js/counter.init.js"></script>

    <!-- App Js -->
    <script src="frontend/static/js/app.js"></script>


</body>

</html>