<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NFT Marketplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta content="Themesdesign" name="author">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="frontend/static/css/bootstrap.min.css" type="text/css" id="bootstrap-style">
    <!-- Custom Css -->
    <link rel="stylesheet" href="frontend/static/css/style.min.css" type="text/css">

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">

    <!-- exchange Css -->
    <link rel="stylesheet" href="frontend/static/css/exchange.css" type="text/css">

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand logo f-30 text-dark fw-bold" href="">
                <img src="frontend/static/picture/logo-dark.png" class="logo-dark" alt="" height="40">
            </a>
            <div>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link">主页</a>
                    </li>

                    <li class="nav-item">
                        <a href="index-2.html" class="nav-link">市场</a>
                    </li>

                    <li class="nav-item">
                        <a href="collection.html" class="nav-link">藏品</a>
                    </li>

                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="pagedropdown" role="button"
                            data-bs-toggle="dropdown">
                            分类
                        </a>

                        <div class="dropdown-menu dropmenu-width dropdown-menu-center">
                            <div class="row">
                                <ul class="col-lg-6 list-unstyled">

                                    <li><a class="dropdown-item" href="item-details.html"><i
                                                class="mdi mdi-image-filter-frames f-20 me-2 align-middle"></i>商品详情</a>
                                    </li>


                                    <li><a class="dropdown-item" href="login.html"><i
                                                class="mdi mdi-account-outline f-20 me-2 align-middle"></i>登录</a>
                                    </li>
                                </ul>

                                <ul class="col-lg-6 list-unstyled">
                                    <li><a class="dropdown-item" href="ranking.html"><i
                                                class="mdi mdi-numeric-1-box-outline f-20 me-2 align-middle"></i>排名</a>
                                    </li>

                                    <li><a class="dropdown-item" href="register.html"><i
                                                class="mdi mdi-account-box-outline f-20 me-2 align-middle"></i>注册</a>
                                    </li>
                                    <li><a class="dropdown-item" href="404.html"><i
                                                class="mdi mdi-alert-outline f-20 me-2 align-middle"></i>404</a></li>

                                </ul>
                            </div>
                        </div>

                    </li>
                    <!--end dropdown-->

                    <li class="nav-item">
                        <a href="swap.html" class="nav-link">交换</a>
                    </li>
                    <!--end dropdown-->
                    <li class="nav-item">
                        <a href="homepage.html" class="nav-link">个人主页</a>
                    </li>
                </ul>
                <!--end navbar-nav-->
                <a href="wallet.html" class="btn btn-primary">连接钱包</a>
            </div>

        </div>
        <!--end container-->
    </nav>
    <!-- Navbar End -->

    <!-- container start -->
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb default mb-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-muted">主页</a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">交换</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- container End -->

    <!-- main Start -->
    <main class="flex flex-col items-center justify-start flex-grow w-full h-full" style="height: max-content;">
        <div class="py-4 md:py-12 lg:py-[120px] px-2 max-w-md w-full" id="swap-page">
            <div class="flex flex-col gap-3 p-2 md:p-4 pt-4 rounded-[24px] bg-gray-400 shadow-md shadow-dark-1000">
                <div class="px-2">
                    <div class="flex items-center justify-between gap-1">
                        <div class="flex gap-4">
                            <div class="text-base hover:text-white ">
                                交换</div>
                            <div class="text-base hover:text-white">
                                限制</div>
                        </div>
                        <div class="flex gap-4">
                            <div class="!w-6 !h-6 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer"
                                id="headlessui-popover-button-34" aria-expanded="false"><svg
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true"
                                    class="w-[26px] h-[26px] transform rotate-90 hover:text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                                    </path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div
                        class="rounded-[14px] border border-dark-700 hover:border-dark-600 bg-white p-3 flex flex-col gap-4">
                        <div class="flex items-end justify-between gap-2">
                            <div
                                class="flex items-center gap-2 px-2 py-1 rounded-full shadow-md cursor-pointer text-high-emphesis bg-gray-400 hover:bg-dark-700">
                                <div class="rounded-full" style="width: 20px; height: 20px;">
                                    <div class="overflow-hidden rounded" style="width: 20px; height: 20px;">
                                        <span
                                            style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 20px; height: 20px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"><img
                                                alt="ETH"
                                                srcset="https://res.cloudinary.com/sushi-cdn/image/fetch/w_32,f_auto,q_auto,fl_sanitize/https://raw.githubusercontent.com/sushiswap/logos/main/token/eth.jpg 1x, https://res.cloudinary.com/sushi-cdn/image/fetch/w_48,f_auto,q_auto,fl_sanitize/https://raw.githubusercontent.com/sushiswap/logos/main/token/eth.jpg 2x"
                                                src="https://res.cloudinary.com/sushi-cdn/image/fetch/w_48,f_auto,q_auto,fl_sanitize/https://raw.githubusercontent.com/sushiswap/logos/main/token/eth.jpg"
                                                decoding="async" data-nimg="fixed"
                                                class="rounded-full !rounded-full overflow-hidden"
                                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></span>
                                    </div>
                                </div>
                                <div class="text-sm leading-5 font-bold !text-xl">ETH</div><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" width="18">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="flex gap-1 justify-between items-baseline px-1.5">
                            <div
                                class="text-2xl leading-7 tracking-[-0.01em] font-bold relative flex items-baseline flex-grow gap-3 overflow-hidden">
                                <input inputmode="decimal" title="Token Amount" autocomplete="off" autocorrect="off"
                                    type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.00" min="0" minlength="1"
                                    maxlength="79" spellcheck="false"
                                    class="relative font-bold outline-none border-none flex-auto overflow-hidden overflow-ellipsis placeholder-low-emphesis focus:placeholder-primary leading-[36px] focus:placeholder:text-low-emphesis flex-grow w-full text-left bg-transparent text-inherit disabled:cursor-not-allowed"
                                    value=""><span class="absolute" style="left: 60px;">~$2,909.52 </span>
                                <div
                                    class="text-2xl leading-7 tracking-[-0.01em] font-bold relative flex flex-row items-baseline">
                                    <span class="opacity-0 absolute pointer-events-none tracking-[0]">0.00</span>
                                </div>
                            </div>
                            <div class="flex whitespace-nowrap" role="button">余额: 0</div>
                        </div>
                    </div>
                    <div class="flex justify-center -mt-6 -mb-6 z-0">
                        <div role="button"
                            class="p-1.5 rounded-full bg-gray-400 border shadow-md border-dark-700  hover:border-dark-600">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true" width="14" class="text-high-emphesis hover:text-white">
                                <path fill-rule="evenodd"
                                    d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg></div>
                    </div>
                    <div
                        class="rounded-[14px] border border-dark-700 hover:border-dark-600 bg-white p-3 flex flex-col gap-4">
                        <div class="flex items-end justify-between gap-2">
                            <div
                                class="flex items-center gap-2 px-2 py-1 rounded-full shadow-md cursor-pointer text-high-emphesis bg-gray-400 hover:bg-dark-700">
                                <div class="rounded-full" style="width: 20px; height: 20px;">
                                    <div class="overflow-hidden rounded" style="width: 20px; height: 20px;">
                                        <span
                                            style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 20px; height: 20px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"><img
                                                alt="SUSHI"
                                                srcset="https://res.cloudinary.com/sushi-cdn/image/fetch/w_32,f_auto,q_auto,fl_sanitize/https://raw.githubusercontent.com/sushiswap/icons/master/token/sushi.jpg 1x, https://res.cloudinary.com/sushi-cdn/image/fetch/w_48,f_auto,q_auto,fl_sanitize/https://raw.githubusercontent.com/sushiswap/icons/master/token/sushi.jpg 2x"
                                                src="https://res.cloudinary.com/sushi-cdn/image/fetch/w_48,f_auto,q_auto,fl_sanitize/https://raw.githubusercontent.com/sushiswap/icons/master/token/sushi.jpg"
                                                decoding="async" data-nimg="fixed"
                                                class="rounded-full !rounded-full overflow-hidden"
                                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></span>
                                    </div>
                                </div>
                                <div class="text-sm leading-5 font-bold !text-xl">SUSHI</div><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" width="18">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="flex gap-1 justify-between items-baseline px-1.5">
                            <div
                                class="text-2xl leading-7 tracking-[-0.01em] font-bold relative flex items-baseline flex-grow gap-3 overflow-hidden">
                                <input inputmode="decimal" title="Token Amount" autocomplete="off" autocorrect="off"
                                    type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.00" min="0" minlength="1"
                                    maxlength="79" spellcheck="false"
                                    class="relative font-bold outline-none border-none flex-auto overflow-hidden overflow-ellipsis placeholder-low-emphesis focus:placeholder-primary leading-[36px] focus:placeholder:text-low-emphesis flex-grow w-full text-left bg-transparent text-inherit disabled:cursor-not-allowed"
                                    value=""><span class="absolute" style="left: 60px;">~$3.40 </span>
                                <div
                                    class="text-2xl leading-7 tracking-[-0.01em] font-bold relative flex flex-row items-baseline">
                                    <span class="opacity-0 absolute pointer-events-none tracking-[0]">0.00</span>
                                </div>
                            </div>
                            <div class="flex whitespace-nowrap" role="button">余额: 0</div>
                        </div>
                    </div><button
                        class="text-higher-emphesis hover:bg-gradient-to-b hover:from-black/20 focus:to-black/20 focus:bg-gradient-to-b focus:from-black/20 hover:to-black/20 active:bg-gradient-to-b active:from-black/40 active:to-black/40 disabled:pointer-events-none disabled:opacity-40 bg-blue text-sm rounded px-3 h-[36px] w-full font-bold flex items-center justify-center gap-1 rounded-2xl md:rounded !border-none"
                        id="connect-wallet">连接钱包</button>
                </div>
            </div>
            <div class="flex flex-col justify-center">
                <div class="relative h-[96px] mt-4"></div>
            </div><span id="popover-portal" style="z-index: 1000;"></span>
        </div>
    </main>
    <!-- main end -->
    <!-- start footer -->
    <section class="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p class="my-4 text-muted">&2022.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end footer -->
    <!--Bootstrap Js-->
    <script src="frontend/static/js/bootstrap.bundle.min.js"></script>

    <!-- Swiper Js -->
    <script src="frontend/static/js/tiny-slider.js"></script>

    <!-- counter -->
    <script src="frontend/static/js/counter.init.js"></script>

    <!-- App Js -->
    <script src="frontend/static/js/app.js"></script>



</body>

</html>